body, html{
	height:100%;
	background-color:#808080;
}
header {
	background-color:rgba(255, 255, 255, .75);
	border-bottom: 1px solid #000000;
}
.log{
	margin-right:2%;
}
h1 {
	text-align:center;
}
#crumbs {
	font-size:75%;
}
#crumbs p{
	display:inline-block;
}
#new {
	float:right;
}
aside {
	background-color:rgba(255,255,255, .75);
	display:inline-block;
    border:1px solid #000000;
    text-align:center;
    width:100%;
    margin-top:3%;
    border-radius:5%;
    margin-bottom:3%;
}
aside #links {
	margin-bottom:10%;
}
aside a {
	display:block;
	margin:3%;
}

article {
	display:inline-block;
	position:relative;
	/*border:1px solid #000000;*/
	float:right;
	width:100%;
    height:100%;
}
article h2 {
	text-align:center;
}
section{
	border: 1px solid #000000;
	margin-bottom: 5%;
	width: 100%;
	height:20%;
	background-color: rgba(255, 255, 255, .75);
}
#flash li{
	list-style:none;
}
.game_card {
	margin:3% 2%;
	border:1px solid #000000;
}
.game_card label, .game_card button{
    margin-left:3%;

}
.game_card *{
	margin-left:3%;
}
#item , #message{
	margin-left:5%;
}
#buttons {
	text-align:center;
	display:block;
	border:1px solid #000000;
	margin:5% 20%;
	padding-bottom:3%;
	border-radius:39%;
}
#modify {
	margin-left:24%;
}
#modify a{
    margin-left:4%;
}
#delete {
	color:red;
}
.myForm {
    margin-top:5%;
    margin-left:30%;

}
#submit {
     text-align:center;
}
#cancel{
	display:inline-block;

}
.myform {
	text-align:center;
}

@media(min-width:500px){
	aside{
		display:inline-block;
		width:23%;
	}
	article{
		display:inline-block;
		width:70%;
		float:right;
	}

    .game_card{
    	height:30%;
    	margin-right:3%;
    }
	.game_card img{
		width:20px;
		height:20px;
		display:inline-block;
	}
	.game_card p{
		display:inline-block;
		margin-bottom:0%;
	}
	.game_card h2{
		margin-bottom:0%;
	}
}