{% extends "base.html" %}
{% block content %}
<div id="crumbs">
   <a href="/welcome">home/</a>
   <a href='{{url_for("displayConsoleGames", title=Game.console)}}'>{{ Game.console }}/</a>
   <a href='{{url_for("gameInfo",console=Game.console,  Game_id=Game.id)}}'>{{ Game.game_name }}/</a>
   <p>delete game/</p>
</div>
<aside id="console">
    <h2>Consoles</h2>
    <div id="links">
    {% for system in consoles %}
    <a href='{{url_for("displayConsoleGames", title=system)}}'>{{ system }} </a>
    {% endfor %}
    </div>
</aside>
<article>
    <section>
        <h2><span id="delete">Delete</span> {{ Game.game_name }}</h2>
        <div class="myform">
        <p>Do you wish to <span id="delete">delete</span> {{ Game.game_name }}?</p>
        <form action="#" method="post">
            <button type="submit">Delete</button>
            <a href='{{url_for("welcome")}}'><div id="cancel">Cancel</div></a>
        </form>
        </div>
   </section>
</article>
{% endblock %}