{% extends "base.html" %}
{% block content %}
<div id="crumbs">
   <a href="/welcome">home</a>
   <p> /delete game</p>
</div>
<aside id="console">
    <h2>Consoles</h2>
    <div id="links">
    {% for system in consoles %}
    <a href='{{url_for("displayConsoleGames", title=system)}}'>{{ system }} </a>
    {% endfor %}
    </div>
</aside>
<article>
    <section>
        <h2><span id="delete">Delete</span> {{ Game.name }}</h2>
        <div id="message">
        <p>Do you wish to <span id="delete">delete</span> {{ Game.name }}?</p>
        <form action="#" method="post">
            <button type="submit">Delete</button>
            <a href='{{url_for("welcome")}}'><button>cancel</button></a>
        </form>
        </div>
   </section>
</article>
{% endblock %}