{% extends "base.html" %}
    {% block content %}
    <!-- crumbs -->
    <div id="crumbs">
    <a href="/welcome">home/</a>
    <a href='{{url_for("displayConsoleGames", title=editGame.console )}}'>{{ editGame.console }}/</a><!-- console of the game -->
    <a href='{{url_for("gameInfo",console=editGame.console, Game_id=editGame.id)}}'>{{ editGame.name }}/</a>
    <p>Edit game</p>
    </div>
    <aside>
      <h2>Consoles</h2>
      <div id="links">
        {% for system in consoles %}
          <a href='{{url_for("displayConsoleGames", title=system)}}'>{{ system }}</a>
        {% endfor %}
      </div>
    </aside>
    <article>
        <section class="border">
        <h2> Edit game</h2>
            <form action="#" method="POST">
                <div class="myForm">

                <label for="picture">Picture:
                    <input type="text" maxlength="80" name="picture" value="{{ editGame.picture }}">
                </label>
                <br/>
                <label for="name">Name:
                  <input type="text" maxlength="80" name='name' value="{{ editGame.name }}" placeholder="{{ editGame.name }}">
                </label>
                <br/>
              
                <label for="description">Description:
                    <textarea name="description" placeholder="{{ editGame.description }}" length="250"></textarea>
                </label>
                <br/>

                <label for="console">Console:
                    <input type="text" name="console" value="{{ editGame.console }}" placeholder="{{editGame.console}}">
                </label>
                <br/>
                </div>
                <br/>

                <div id="submit">
                <button type='submit'>Save</button>
                <a href='{{ url_for("welcome") }}' id="cancel"><div>
                Cancel</div></a>
                </div>
            </form>
        </section>
    </article>
{% endblock %}